html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}

.sidebox {
    height: 450px;
    width: 300px;
    z-index: 2;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 25px;
}

h1 {
    font-size: 22px;
    font-weight: 400;
    border-bottom: 1px solid #000000;
    padding-bottom: 25px;
}

p {
    font-size: 14px;
    font-weight: 200;
    margin-top: 25px;
}